.navbar {
	font-family: 'Rock Salt', cursive;
}

.well {
	min-height: 552px;
}

/**
 * Progress bars with centered text
 */

.progress {
    position: relative;
}

.progress span {
    position: absolute;
    display: block;
    width: 100%;
    color: black;
 }