.navbar {
	font-family: 'Rock Salt', cursive;
}

.well {
	min-height: 600px;
}

highlight {
	background-color: #FFFF99;
}

#status {
	font-style: italic;
	border-top: 1px rgb(181, 176, 176) solid;
}

/**
 * Progress bars with centered text
 */

.progress {
    position: relative;
}

.progress span {
    position: absolute;
    display: block;
    width: 100%;
    color: black;
 }