{% extends "base.html" %}
{% block content %}

<p>
<strong>Write Like Hemingway</strong>
</p>
<p>
	An app built for CS 73 at Dartmouth during 14F by Alex Gerstein, Scott Gladstone, and Vikram Narayan. 
</p>
<p>Here's it works:</p>
<ul>
	<li>Select an author whose style you want to imitate</li>
	<li>Input your text</li>
	<li>See your text transformed!</li>
</ul>
</p>
<p>
	To view the source code for this project, see <a href='http://github.com/alexgerstein/hemingway-web'>the github repository</a>
</p>

{% endblock %}